.notification-dot {
        height: 13px;
        width: 13px;
        background-color: lightgreen;
        border-radius: 50%;
        display: inline-block;
        margin-left: -22px;
        vertical-align: 33px;
        color: black;
        font-size: .7em;
        text-align: center;
}

button,
select,
.switch-candy,
.social-container {
    cursor: pointer;
}