.notification-dot {
        height: 8px;
        width: 8px;
        background-color: lightgreen;
        border-radius: 50%;
        display: inline-block;
        margin-left: -18px;
        vertical-align: 18px;
}